@charset "utf-8";

*{
		 
	margin:0px;
	padding:0px;
	font-family: Arial, Helvetica, sans-serif;
	font-family: 'Noto Sans TC', sans-serif;
 }


 @media screen and (min-width:768px)and (max-width:1920px){
	 
	 #top{
		position: absolute;
		text-align: center;
		margin-left:-160px; 
		line-height: 3em;
		left: 50%;
		top: 200px;
		z-index: 1;
		border-radius: 10px;
		background-color: rgba(224,255,255,.7);		 
		padding: 3em;
	 }

	 #top img{
		position: relative;
		border-radius: 50%;
		width: 200px;

		
	 }

	 #background{
		width: auto;
		height: 100vh;
		white-space: nowrap;
		left:0.5vw;
		 
		 
	 }
	
	
	 #background img{
		width: 49.5vw;
		height: 100vh;
		opacity: .6;
		display:inline-block;
		float: left;
		 
	 }

	 #title{
		text-align: center;
		line-height: 2.5em;
		background-color: #e0ffff;
	 }

	 #introBody{
		padding-top:50px; 
		text-transform: uppercase;
	 }
	 #introBody h1{
		 padding-bottom:0.5em; 
	 }
	 #works{
		margin-top:80px;
		text-transform: uppercase;
	 }
	 #experience{
		margin-top: 80px;
		text-transform: uppercase;
	 }
 
	#ex_list{
		line-height: 2em;
	}

	#ex_list li{
		margin-top:2em;
		margin-left: 5em;
		padding: 2em;
		background-color: rgba(0,0,0,.1); 
		display: inline-block;
		border-radius: 5%;
		
	}

	#title_web{
		margin-left: 500px;
    	margin-top: 100px;
    	width: 300px;
    	position: relative;
	}
	#title_web2{
		margin-top: -40px;
		margin-right:-600px; 
    	position: relative;
	}

	#workLists{
		display: inline-block;
		width: 100vw;
	}
	#arrowImg01{
		float: left;
		width: 200px;
		margin-left: 450px;
		margin-top: 10px;
		margin-bottom: 10px;
		/*height: 0px;*/
	}
	#arrowImg02{
		position: relative;
		margin-right: -50px;
		margin-top: 20px;
		width: 150px;
		/*height: 0px;*/

	}

	.works_web{
		height: 225px;
		padding: 15px;
		font-size: 30px;
		border-radius:10px; 
		display: inline-block;
		background-color:rgba(158, 219, 223, .9);
		overflow: hidden;
		
	}
	
	#worksList01{
		position: relative;
		font-size: 2.5em;
		width: 750px;
		/*height: 0px;*/
		line-height: 2em;
		float: left;
		overflow: hidden;
		
		
		
	}

	#worksList02{
		position: absolute;
		display: inline-block;
		width: 700px;
		line-height: 2em;
		margin-top:10px; 
		/*height: 0px;*/
		overflow: hidden;
		right: 100px;

		
		
	}

	#worksList01 li{
		margin-top: 20px;;
	}

	#worksList02 li{
		margin-top: 20px;
		margin-left: 150px;
	}


	.works_game{
		position: relative;
		height: 225px;
		padding: 15px;
		font-size: 30px;
		border-radius:10px; 
		display: inline-block;
		background-color:rgba(158, 219, 223, .9);
	}
	.works_web a{
		text-decoration: none;
		height: 0;
	}

	.works_web img{
		width: 400px;
		height: 225px;
	}
	.work02, .work04{
		margin-left:10em;

	}
	
 }
	
	
@media screen and (min-width:480px) and (max-width:768px){
	
	 
	 


	
>>>>>>> c42e41f4e2a9b5785a081a68ebbba63aefb85d46
}