@charset "utf-8";


 @media screen and (min-width:768px)and (max-width:1920px){
	 *{
		 
		margin:0px;
		padding:0px;
	 }



 
	
	
	
	
	
	
	
@media screen and (min-width:480px) and (max-width:768px){
	
	 *{
		 
		margin:0px; 
	 }
	 


	
>>>>>>> c42e41f4e2a9b5785a081a68ebbba63aefb85d46
}