* {
  position: relative;
  text-align: center;
  font-family: 'Noto Sans TC', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  opacity: 0;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  overflow-y: hidden;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
  line-height: 30px;
}

.nav-container {
  width: 100%;
  height: 100vh;
  background-color: #FFCA91;
  overflow: hidden;
}

.circle {
  width: 0px;
  height: 0px;
  position: absolute;
  right: -349px;
  top: 0px;
  border-radius: 9999px;
  border: solid 30px #E29746;
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
}

.stick1, .stick2 {
  position: absolute;
  width: 60px;
  height: 500px;
  left: -500px;
  top: 1500px;
  -webkit-transform: rotate(43deg);
          transform: rotate(43deg);
  -webkit-box-shadow: 0px 7px 6px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 7px 6px rgba(0, 0, 0, 0.5);
  background-color: #E29746;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  trnasform-origin: center;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

.stick2 {
  background-color: #FFBA6E;
}

.namecard {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 166px;
}

.namecard img {
  left: -35px;
  max-width: 100%;
}

.position {
  color: #707070;
  padding-top: 20px;
  font-weight: 300;
}

.email {
  color: #707070;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.divcontainer {
  padding-top: 120px;
  padding-bottom: 120px;
  opacity: 0;
}

.title {
  padding-bottom: 75px;
  color: #E29746;
}

.aboutme {
  border-bottom: solid 1px #707070;
}

.saying {
  padding-top: 45px;
  color: #E29746;
}

.skills {
  border-bottom: solid 1px #707070;
  font-size: 0px;
  line-height: 0px;
}

.skills ul {
  line-height: 0px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.skill {
  width: 300px;
  height: 300px;
  display: inline-block;
  margin: 0px;
  line-height: normal;
}

.skill img {
  position: absolute;
  max-width: 150px;
  height: auto;
  left: calc(100% - 50% - 75px);
  top: calc(100% - 50% - 75px);
}

.skill_html {
  background-color: #E44D26;
}

.skill_css {
  background-color: #1758A7;
}

.skill_js {
  background-color: #FBF058;
}

.skill_ps {
  background-color: #30267E;
}

.skill_ai {
  background-color: #3B3323;
}

.skill_ae {
  background-color: #1F0040;
}

.experiences {
  max-width: 80%;
  height: 1395px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: solid 1px #707070;
}

.ex_stick {
  position: absolute;
  background-color: #FFEFDE;
  height: 1020px;
  width: 5px;
  left: 0px;
}

.ex_ball {
  position: absolute;
  background-color: #FFDCB7;
  width: 25px;
  height: 25px;
  border: solid 5px #E29746;
  border-radius: 9999px;
  left: -10px;
}

.ex_year {
  position: absolute;
  left: 30px;
  vertical-align: top;
  top: -10px;
  font-weight: 900;
  background-color: #FFDCB7;
  padding: 10px 20px;
  border-radius: 100px;
  color: #FFFFFF;
}

.ex_p1 {
  margin-bottom: 200px;
}

.ex {
  top: 30px;
  max-width: 100%;
}

.ex_paragraph {
  left: 145px;
  background-color: #FFEFDE;
  padding: 10px 10px;
  width: 80%;
  margin-top: 45px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  text-align: left;
  padding-left: 50px;
}

.ex_triangle {
  position: absolute;
  width: 0px;
  border-top: solid 10px transparent;
  border-bottom: solid 10px transparent;
  border-right: solid 20px #FFEFDE;
  left: 130px;
  top: 15px;
  z-index: 2;
}

.portfolio {
  margin-bottom: 200px;
  width: 90%;
}

.works {
  height: 360px;
  padding-bottom: 20px;
}

.works h3 {
  margin-top: 50px;
}

.works p {
  width: 30%;
  display: inline-block;
  margin-top: 50px;
}

.spacer_left {
  margin-bottom: 20px;
  max-width: 1515px;
  height: 5px;
  background: -webkit-gradient(linear, left top, right top, from(#E29746), to(#FFFFFF));
  background: linear-gradient(left, #E29746, #FFFFFF);
}

.spacer_right {
  margin-bottom: 20px;
  max-width: 1515px;
  height: 5px;
  background: -webkit-gradient(linear, right top, left top, from(#E29746), to(#FFFFFF));
  background: linear-gradient(right, #E29746, #FFFFFF);
}

.work_img {
  width: 510px;
  height: 289px;
  margin-top: 10px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.work_img:hover {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  margin-top: 0px;
  width: 570px;
  height: 320px;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
}

.work_img_left {
  float: left;
}

.work_img_right {
  float: right;
}

footer {
  height: 300px;
  background-color: #E29746;
}

.title_connect {
  color: #FFEFDE;
  padding-top: 35px;
}

.footerbtns {
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  min-width: 100px;
  height: 100px;
  background-color: #FFDCB7;
  border-radius: 20px;
  margin-right: 38px;
}

.btn img {
  max-width: 60px;
  vertical-align: middle;
}

#btnimg01 {
  max-width: 60.9px;
  margin: 30px 20px;
}

#btnimg02 {
  max-width: 30.6px;
  margin: 17px 35px;
}

#btnimg03 {
  margin: 20px;
}

#btnimg04 {
  margin: 19px 20px;
}

#btnimg05 {
  margin: 20px;
}

#btnimg06 {
  max-width: 68px;
  margin: 35px 16px;
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .work_img {
    max-width: 350px;
    height: 198.33px;
  }
  .portfolio {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
  }
  .works h3 {
    margin-top: 0px;
  }
  .works p {
    margin-top: 0px;
    width: 35%;
  }
  .btn {
    margin-right: 15px;
  }
}

@media screen and (max-width: 480px) {
  .circle {
    width: 300px;
    height: 300px;
    z-index: 0;
    right: -150px;
    top: -150px;
    border: solid 10px #E29746;
  }
  .namecard img {
    left: -15px;
    max-width: 80%;
  }
  .container {
    max-width: 90%;
  }
  .ex_stick {
    height: 1820px;
  }
  .ex {
    padding-bottom: 50px;
  }
  .ex_triangle {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    left: 40px;
    top: 45px;
  }
  .ex_paragraph {
    top: 60px;
    left: 30px;
    width: 95%;
    padding-left: 10px;
  }
  .ex_p1 {
    margin-bottom: 150px;
  }
  .experiences {
    padding-bottom: 2000px;
  }
  .work_img {
    max-width: 300px;
    height: 170px;
  }
  .work_img_left {
    float: none;
  }
  .work_img_right {
    float: none;
  }
  .works {
    padding-bottom: 500px;
  }
  .works h3 {
    margin-top: 0px;
  }
  .works p {
    width: 80%;
    margin-top: 0px;
  }
  .portfolio {
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  footer {
    height: 600px;
  }
  .footerbtns {
    margin-left: auto;
    margin-right: auto;
  }
  .btn {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
  }
  .title_connect {
    padding-bottom: 10px;
  }
}
/*# sourceMappingURL=style.css.map */